<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Cart</title>
    <link rel="stylesheet" href="./static/pantry.css">
</head>
<body>
    <h1>Cart Items</h1>
    <ul>
        {% for name, quantity in cart.items() %}
        <li>{{ name }} - Quantity: {{ quantity }}</li>
        {% endfor %}
    </ul>

    <!-- Form to submit cart items to Recipe Microservice -->
    <form action="{{ url_for('get_recipes') }}" method="post">
        <!-- Create a hidden input for each item in the cart -->
        {% for name, quantity in cart.items() %}
        <input type="hidden" name="items" value="{{ name }}" data-quantity="{{ quantity }}">
        {% endfor %}
        <button type="submit">Get Recipe</button>
    </form>

    <a href="{{ url_for('user_profile', username=session['user_id']) }}" class="profile-link">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
    </a>

    <!-- Navigation Buttons -->
    <div class="action-buttons">
        <a id="backtopantry" href="{{ url_for('pantry') }}">Back to Pantry</a>
    </div>
</body>
</html>
