<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Cart</title>
    <link rel="stylesheet" href="./static/pantry.css">
    <script>
    function delete_from_cart(itemName, quantity) {
        fetch('/delete_from_cart/' + encodeURIComponent(itemName), {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ quantity: quantity })  // Include quantity in the JSON payload
        })
        .then(response => {
            if (response.ok) {
                document.getElementById('item-' + encodeURIComponent(itemName)).remove();
                var inputElements = document.querySelectorAll('input[name="items"][value="' + itemName + '"]');
                inputElements.forEach(input => {
                    input.remove();
                });
            } else {
                alert('Failed to delete item.');
            }
        })
        .catch(error => console.error('Error:', error));
    }
    </script>
</head>
<body>
    <h1>Cart Items</h1>
    <ul>
        {% for name, quantity in cart.items() %}
        <li id="item-{{ name }}">
            {{ name }} - Quantity: {{ quantity }}
            <a href="javascript:void(0);" onclick="delete_from_cart('{{ name }}', '{{ quantity }}')" class="delete-button" title="Delete Item">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
            </a>
        </li>
        {% endfor %}
    </ul>

    <!-- Form to submit cart items to Recipe Microservice -->
    <form action="{{ url_for('get_recipes') }}" method="post">
        <!-- Create a hidden input for each item in the cart -->
        {% for name, quantity in cart.items() %}
        <input type="hidden" name="items" value="{{ name }}" data-quantity="{{ quantity }}">
        {% endfor %}
        <button type="submit">Get Recipe</button>
    </form>

    <a href="{{ url_for('user_profile', username=session['username']) }}" class="profile-link">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
    </a>

    <!-- Navigation Buttons -->
    <div class="action-buttons">
        <a id="backtopantry" href="{{ url_for('pantry') }}">Back to Pantry</a>
    </div>
</body>
</html>
