<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="./static/login.css">
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const username = document.getElementById('username');
            const password = document.getElementById('password');
            const loginButton = document.querySelector('button');

            function updateButtonState() {
                if (username.value && password.value) {
                    loginButton.classList.add('active');
                } else {
                    loginButton.classList.remove('active');
                }
            }

            username.addEventListener('input', updateButtonState);
            password.addEventListener('input', updateButtonState);
        });
    </script>
</head>
<body>
    <div class="container">
        <div class="header">
            <img src="./static/logo.png" alt="Website Logo" class="logo">
            <h1>Welcome to Food Pantry!</h1>
        </div>
        <h2>Sign Up</h2>
        {% if error %}
        <div class="error">{{ error }}</div>
        {% endif %}
        <form action="{{ url_for('signup') }}" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required minlength="6">

            <button type="submit">Sign Up</button>
        </form>
    </div>
</body>
</html>
