@font-face {
  font-family: Mops;
  src: url(mops.ttf);
}

body {
  font-family: Mops;
  background-color: #0f4c5c; /* Dark teal background */
  color: #5f0f40; /* Deep plum for text */
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

h1 {
  font-size: 40px;
  color: #ffffff; /* White for headings */
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  width: 90%;
  max-width: 500px;
  background: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

li {
  border-bottom: 1px solid #9a031e; /* Dark red border */
  padding: 10px;
  font-size: 18px;
  margin-bottom: 5px;
  display: flex;  /* Enables flexbox */
  justify-content: space-between;  /* Aligns children to each space between */
  align-items: center;  /* Vertically centers the items in the list */
}

button {
  width: 60%;
  font-family: Mops;
  background-color: #9a031e; /* Semi-transparent initially */
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-left: 20%;
  margin-right: 20%;
  transition: 450ms;
  align-items: center;
}

button:hover {
  background-color: #ffffff5f;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 10px;
  color:rgb(255, 255, 255);
  transition: 150ms ease-in-out;
}

.profile-link {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #9a031e; /* Vivid orange */
  color:rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease; /* Added transition for smooth effect */
}

.profile-link:hover {
  background-color: #ffffff5f;
  color:rgb(255, 255, 255);
}

.action-buttons a {
  padding: 12px;
  background-color: #5f0f40; /* Primary button color */
  color: white;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  text-decoration: none; /* Removing underline from links */
  transition: background-color 0.3s ease; /* Smooth transition for hover effects */
  display: block;
  width: 100%; /* Full width for better accessibility */
  text-align: center;
  margin-bottom: 10px;
  font-family: Mops;
}

.action-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#backtopantry:hover, #backtocart:hover {
  background-color: #274317; /* Dark red on hover */
}

.delete-button {
  cursor: pointer;  /* Changes the mouse cursor to a pointer */
  background: none;
  border: none;
  padding: 5px;  /* Pads the clickable area for easier clicking */
}

.delete-button svg {
  stroke: #dc3545;  /* Colors the icon red for delete */
  width: 24px;  /* Set width for the icon */
  height: 24px;  /* Set height for the icon */
}
