@font-face {
  font-family: Mops;
  src: url(mops.ttf);
}
/* d1cdc4, 61603c, c2803a, 7a402e, bf5d30, 2f4d49 */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Mops;
}

.recipes-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 0.5fr));
  gap: 40px;
  justify-content: center;
  padding: 30px;
}

body {
  font-family: Mops;
  color: #2f4d49;
  background-color: #7a402e;
  padding: 20px;
  min-height: 100vh;
}

h1 {
  font-size: 40px;
  color: #d1cdc4;
  margin-bottom: 40px;
  margin-left: 40px;
}

h2 {
  margin-bottom: 20px;
}

.modal-content h2 {
  text-align: center;
}

.recipe {
  position: relative;
  background: #d1cdc4; /* Semi-transparent white background */
  padding: 20px;
  padding-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  overflow: hidden;
}

.recipe img {
  width: 100%; /* Full width of the card */
  height: auto; /* Maintain aspect ratio */
  border-radius: 6px;
}

.recipe:hover {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* Dark overlay effect */
.recipe::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  opacity: 0; /* Initially transparent */
  transition: opacity 0.3s ease-in-out;
}

.recipe:hover::before {
  opacity: 1; /* Show overlay on hover */
}

.action-buttons a {
  padding: 12px;
  background-color: #c2803a; /* Primary button color */
  color: white;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  text-decoration: none;
  transition: 450ms;
  display: block;
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
  text-align: center;
  margin-bottom: 10px;
  font-family: Mops;
}

.action-buttons a:hover {
  background-color: #d1cdc4;
  color: #7a402e;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  transition: 150ms ease-in-out;
  border-radius: 12px;
}

.profile-link {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #61603c;
  color: #f1efea;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease; /* Added transition for smooth effect */
}

.profile-link:hover {
  background-color: #d1cdc4;
  color: #7a402e;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #d1cdc4;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
}

.modal-content img {
  width: 50%; /* Smaller image size */
  height: auto;
  margin-left: 25%;
  margin-right: 25%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #7a402e;
  text-decoration: none;
  cursor: pointer;
}

/* Hide button by default and show on hover */
.recipe button.myBtn {
  display: none;
  position: absolute;
  transform: translateX(-50%); /* Center horizontally */
  padding: 10px;
  color: #2f4d49;
  background-color: #d1cdc4;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  top: 50%;  
  left: 50%;
  width: 50%;
  font-size: 24px;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.recipe:hover button.myBtn {
  display: block; /* Show the button when hovering over the recipe card */
}
